@import "library";
@import "reset";

// Global templates

%group:after {
    display: table;
    clear: both;
    content: "";
}

.label {
	display: none;
}

%container {
    margin: 0 auto;
    max-width: 960px;
}

// Global tags

body {
    background: white;
}

a {
    color: #800000;
}

// Everything else

.calendar {
	display: table;
	border: 1px solid black;
	width: 700px;
}

.week {
	display: table-row;
}

.day {
	display: table-cell;
	width: 100px;
	border: 1px solid gray;
	height: 100px;
	padding: 2px;
	
	ul {

		margin-top: 5px;

		li {
			font-size: 9pt;
			line-height: 12pt;
			overflow: hidden nowrap;
		}
	}
}

.date {
	position: relative;
	padding: 1px;
	margin-top: -2px;
	margin-right: -2px;
	float: right;
	height: 16px;
	width: 16px;
	font-size: 10pt;
	text-align: center;
	background: lightgray;
}

%tag {
	width: 100%;
	border-radius: 2px;
}

.kids {
	@extend %tag;
	background: transparentize(green, .5);
}

.adults {
	@extend %tag;
	background: transparentize(blue, .5);
}

.mobile-date {
	display: none;
}

.days {
	display: table-row;
}

.day-name {
	display: table-cell;
	text-align: center;
	border-left: 1px solid black;
	background: lightgray;
	font-size: 10pt;
	font-weight: bold;
}

@media screen and (max-width: 480px) {

	.mobile-date {
		display: inline-block;
		font-size: 20pt;
		font-weight: bold;
	}

	.date, .days, .day-name {
		display: none;
	}
	
	.day {
		display: inline-block;
		border-bottom: 2px solid black;
		width: 100%;

		ul {

			margin-top: 0px;

			li {
				font-size: 16pt;
				padding-top: 2px;
				float: left;
				background: transparent;
				line-height: 16pt;
			}
		}
	}

	.label {
		position: absolute;
		display: inline;
		float: right;
		left: 200px;
		width: 75px;
		text-align: center;
	}

	.empty {
		display: none;
		height: 0;
		border: none;

		div {
			display: none;
			height: 0;
		}
	}
}